/* HEADER STYLE 
===========================================*/
#slick-header>div:nth-of-type(2) h2 {font-size: 75%;}
#slick-header>div:nth-of-type(2) a, #slick-header .slick-nav-hed a, #slick-header .slick-social-hed a:hover {color: #b3cde3;}
#slick-header>div:nth-of-type(2) a:hover, #slick-header .slick-nav-hed a:hover {color:#edf8fb;}

#slick-header .slick-nav-hed {margin-top:-3px;}
#slick-header .slick-nav-hed a {margin:0 20px;}
#slick-header .slick-social-hed {top:-3px;}

#lcff-header {width:100%;margin-top:5em;}
	#lcff-header img {width:100%;height:auto;}
	#lcff-header p {text-align: right;margin: 0 1% 0 0;font-size: .8em;}

/* BODY STYLE 
===========================================*/
#slick-body h3 {text-align:center;margin-bottom: 2em;text-transform: uppercase;font-size: 1.5em;}

#slick-body>div[role="intro"] {margin-bottom:4em;}

#slick-body>div[role="header"] {}
	#slick-body>div[role="header"] p {text-align: center;margin: 0;color: #666;font-family: 'Montserrat', san-serif;font-size:1em;}

#slick-body>div[role="caveat"] p {font-size: 1em;color: #555;}

#slick-body>div[role="facts"] h4 {text-align:center;color:#198c96;font-size:1.2em;}
#slick-body>div[role="facts"] p {text-align:center;margin: 0 0 1em 0;}

#slick-body>div[role="links"] {margin-top:3em;}
#slick-body>div[role="links"] p {text-align:center;margin: 0 0 1em 0;font-size:1em;color:#555;}
#slick-body>div[role="links"] a {text-align:center;margin: 0 0 1em 0;font-size:1em;color:#555;}
#slick-body>div[role="links"] a p {text-align:left;margin: 0 0 1em 0;font-size:1em;color:#555;}

#slick-body>div[role="choices"]>div {display: inline-block;}
#slick-body>div[role="choices"]>div:first-of-type {margin-right:90px;}



/* SEARCH STYLE 
===========================================*/
#slick-body>div[role="search"] {}
	#slick-body>div[role="search"] input {width:100%;}  
#slick-body>div[role="results"] {max-height: 200px;overflow: scroll;border-bottom: #ddd solid 2px;margin-top: 1em;border-top: #ddd solid 2px;}
	#slick-body>div[role="results"] div {padding: .5em 0;border-bottom: 1px solid #aaa;}
	#slick-body>div[role="results"] div:last-of-type {border:none;}
	#slick-body>div[role="results"] h2 {font-size: .9em;text-align: left;color: #333;}
	#slick-body>div[role="results"] h4 {font-size: .8em;color: #555;}
	#slick-body>div[role="results"] a {}
	#slick-body>div[role="results"] a:hover {text-decoration: none;}

/* TABLE STYLE 
===========================================*/
.temp-charts {border-top: 1px solid #aaa;margin: 3em auto 0 auto;}
	.temp-charts #meta p {text-align:center;font-size:1em;color:#333;font-weight: 700;}
	.temp-charts #legend {overflow:hidden;width:75%;margin:1em auto 0 auto;}
		.temp-charts #legend>div {display:inline-flex;float: left;width: 48%;}
		.temp-charts #legend>div>div:first-of-type {width: 15px;float: left;}
		.temp-charts #legend>div>div>div {width: 15px;height: 15px;}
		.temp-charts #legend p {margin:-3px 0 0 5px;font-size:.9em;color:#666;}		
.pretty-table {overflow:hidden;}
	#slick-contain .pretty-table a {color:#4483b8;}
#pretty-table-search-options {margin: 20px 0;}

/* MOBILE STYLE 
===========================================*/
@media screen and (min-width:768px){
	#slick-header>div:nth-of-type(2) h2 {font-size: 100%;}
	#slick-header .slick-social-hed {display:block;}

}

@media screen and (min-width:1028px){
	.seventy {width: 70%;margin: 0 auto;}
	.fifty {width: 50%;margin: 0 auto;}
	.twenty-five {width: 25%;margin: 0 auto;}
}