<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"><title>Search Basic Aid Districts | EdSource</title></meta>
        <link rel="stylesheet" type="text/css" href="/static/table.css">
        {% include 'header.html' %}
    </head>
    <body>
        <section id="loading"></section>
        <div id="slick-contain">
            {% include 'nav.html' %}
            <section id="slick-body">
                <div role="intro" class="seventy">
                    <h2>Search Basic Aid Districts</h2>
                    {% include 'social.html' %}
                    <p>"Basic aid" districts receive little state funding, because their revenue from local property tax revenues exceed what they would receive under the Local Control Funding Formula.</p>
                </div>
                <div class="pretty-table seventy">
                    <div id="pretty-table-top"><i class="fa fa-arrow-up"></i></div>
                    <section id="pretty-table-search-options">
                        <input id="pretty-table-search" type="text" style="height:24px;" placeholder="Search School Districts">
                        <div><p class="pretty-table-button" id="execute-search">Search</p></div>
                        <div><p class="pretty-table-button" id="reset-search">Reset</p></div>
                    </section>
                    <section>
                         <table id="lcff-table" cellpadding=7>
                            <thead>
                                <th>District</th>
                                <th>Average Daily Attendance</th>
                                <th>High-Needs Students</th>
                                <th>2014-15 Funding</th>
                            </thead>
                            {% for d in data %}
                            <tr>
                                <td>{{d.target}}</td>
                                <td>{{('{0:,}'.format(d.ada | int))}}</td>                                            
                                <td>{{'{:.0f}'.format(d.high_needs|float*100)}}%</td>
                                <td>${{('{0:,}'.format(d.y201415 | int))}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </section>
                </div>  
            </section>  
            {% include 'footer.html' %}    
        </div>
    </body>    
    <script type="text/javascript">

         /* SEARCH
        ===========================*/
        function searchTool(c){
            var jQueryrows = jQuery(c + ' tr');
            var allRows = jQuery(c + ' tr:not('+ c +' thead tr)');

            /* SEARCH STRING
            ======================================*/    
            var val = jQuery.trim(jQuery('#pretty-table-search').val()).replace(/ +/g, ' ').toLowerCase();

            if (val === ''){
                jQuery(allRows).css('display','table-row');
            }
            else if (val !== '') {
                 for (var i=0 ; i < allRows.length ; i++){
                    allRows[i].style.display = "table-row";

                    var testText = allRows[i].textContent;
                    testText = testText.replace(/\s+/g, ' ').toLowerCase();
                    if (testText.indexOf(val) == -1){
                        allRows[i].style.display = "none";
                    }
                 }
            }   
        }

        /* LOAD CHECK
        ===========================*/
        function onReady(callback) {
            var intervalID = window.setInterval(checkReady, 1000);
            function checkReady() {
                if (document.getElementsByTagName('body')[0] !== undefined) {
                    window.clearInterval(intervalID);
                    callback.call(this);
                }
            }
        }
        onReady(function () {jQuery('#loading').remove();});


        jQuery(document).ready(function(){

            /* CONFIGURE TABLESORTER
            ======================================*/ 
            jQuery('#lcff-table').tablesorter({sortList: [[0,0]]});

            /* SEARCH OPTIONS
            ======================================*/ 
            jQuery('#execute-search').on('click', function(){searchTool('#lcff-table');});
            jQuery('#pretty-table-search').on('keypress', function(e){var key = e.which;if (key == 13){searchTool('#lcff-table');}})

            jQuery('#reset-search').on('click', function(){
                jQuery('tr').css('display','table-row');
                jQuery('#pretty-table-search').val('');
                jQuery('.pretty-table tbody tr').slice(10).hide();
            })

            /* ADD FIXED HEADER
            ======================================*/
            jQuery('.pretty-table').append('<div class="pretty-table-fixed"></div>');
            jQuery('.pretty-table .pretty-table-fixed').detach().insertAfter('#pretty-table-search-options');

            jQuery('.pretty-table .pretty-table-fixed').append('<div>District/Charter</div>');
            jQuery('.pretty-table .pretty-table-fixed').append('<div>High-Needs Students</div>');
            jQuery('.pretty-table .pretty-table-fixed').append('<div>2015-16 Estimate</div>');
            jQuery('.pretty-table .pretty-table-fixed').append('<div>2020-21 Target</div>');

            /* FIXED HEADER WIDTH
            ======================================*/
            var fixedHedWidth = 100 / 4;
            jQuery('.pretty-table .pretty-table-fixed div').css('width', fixedHedWidth + '%');

            /* WORK THE FIXED HEADER
            ======================================*/
            var realHed = jQuery('.pretty-table thead').offset();
            var lastRow = jQuery('.pretty-table tbody tr:last-of-type').offset();

            jQuery(document).on('scroll', function(){
                var curPos = jQuery(this).scrollTop();

                var tableWidth = jQuery('#lcff-table').width();
                jQuery('.pretty-table .pretty-table-fixed').css('width', tableWidth + 'px');

                if (curPos > realHed.top + 60 && curPos < lastRow.top) {
                    jQuery('.pretty-table .pretty-table-fixed').show();
                    jQuery('#pretty-table-top').show();
                }
                else {
                    jQuery('.pretty-table .pretty-table-fixed').hide();
                    jQuery('#pretty-table-top').hide();        
                }
            });
        })

        window.onload = function(){

             /* CONFIGURE BACK TO THE TOP
            ======================================*/ 
            window.setTimeout(function() {
                jQuery('#pretty-table-top').on('click', function(){
                    window.scrollTo(0,0);
                })
            }, 0);

            
        }

    </script>
</html>