<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"><title>Compare School Districts and Charters | EdSource</title></meta>
        {% include 'header.html' %}
        <script type="text/javascript" src="/static/lcff-compare-search.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/bar.css">
        <script type="text/javascript" src="/static/dual-bar-jinja.js"></script>
    </head>
    <body>
        <div id="slick-contain">
            {% include 'nav.html' %}
            <section id="slick-body">
                <div role="intro" class="fifty">
                    <h2>Compare School Districts and Charters</h2>
                    <p>Select any two California school districts or charter schools to compare the amount of money they are expected to receive through the local control funding formula.</p>
                    {% include 'social.html' %}
                </div>
                <div class="twenty-five" role="choices">
                    <div>
                        <h4>First District/Charter</h4>
                        <input link="no" class="search-bar" role="0" type="text" style="height:24px;" placeholder="Option 1">
                        
                    </div>
                    <div>
                        <h4>Second District/Charter</h4>
                        <input link="no" class="search-bar" role="1" type="text" style="height:24px;" placeholder="Option 2">
                    </div>
                </div>
                <div class="twenty-five"><div role="results" class="lcff-results" type="0"></div></div>
                <div class="temp-charts" id="chart1"></div>
                
            </section>  
            {% include 'footer.html' %}    
        </div>
    </body>    
    <script type="text/javascript">
        var data = {{data|safe}},
            targets = ['ABC Unified', 'Abernathy Collegiate Charter'],
            targData = [];

        //initialize chart 
        grabData(data, 0, targets[0]);
        grabData(data, 1, targets[1]);
        barChart.getAttr(null, targData[0], targData[1], 'chart1', 360, 300, [50,40,30,50],'#198c96','#8DCBC6',false, null, null, '$,', 5, .1, null, 'Funding per Student', null, null, 3, 5);
        
        function updateChart(d, c, t){
            jQuery('.temp-charts').empty();
            grabData(data, parseInt(c), t);
            grabData(data, parseInt(c), t);
            barChart.getAttr(null, targData[0], targData[1], 'chart1', 360, 300, [50,40,30,50],'#198c96','#8DCBC6',false, null, null, '$,', 5, .1, null, 'Funding per Student', null, null, 3, 5);
        }

        function grabData(d, c, t) {
            //Retrieve correct data
            for (var i = 0 ; i < d.length ; i++){
                var target = d[i].target;
                if (t === target){targData[c] = d[i];break;}
            }
        }

    </script>
</html>